{{#block "title"}}Het Systeem - Tijd besteden{{/block}}

<h1>Tijd besteden</h1>
<h2>Job</h2>
{{#if contracts.length}}
	<form method="POST" action="/game/world/actions/spend-time/job">
		{{#each contracts}}
			<div class="card mb-3 p-3 shadow-sm" style="max-width: 600px;">
				<p><strong>Werkgever:</strong> {{this.employer_first_name}} {{this.employer_last_name}}</p>
				<p><strong>Job:</strong> {{this.job_name}}</p>
				<p><strong>Uren te presteren:</strong> {{this.hours}}</p>
				<p><strong>Uurloon:</strong> €{{this.hourly_wage}}</p>
				<div class="mb-2">
					<label for="hours-{{this.id}}" class="form-label">Aantal uren dat je effectief werkt:</label>
					<input type="number" name="worked_hours[{{this.id}}]" id="hours-{{this.id}}" class="form-control" min="0" max="{{this.hours}}">
				</div>
			</div>
		{{/each}}
		<!--button type="submit" class="btn btn-primary">Bevestigen</button-->
	</form>
{{else}}
	<p>Je hebt momenteel geen actieve arbeidscontracten.</p>
{{/if}}
<h2>Studie</h2>
<h2>Ontspanning</h2>
<div class="mw-container">
	<a class="button-2" href="/game/world/actions">← Acties</a>
</div>