{{#block "title"}}Het Systeem - Personage{{/block}}

<h1>{{character.first_name}} {{character.last_name}}</h1>
<ul>
	<li>Leeftijd: {{character.age}}</li>
	<li>Gezondheid: {{character.health}}</li>
	<li>Geluk: {{character.happiness}}</li>
	<li>Opleidingsniveau: {{character.education_level}}</li>
	<li>Droomjob: {{character.job_preference_1}}</li>
	<li>Geweldige job: {{character.job_preference_2}}</li>
	<li>Leuke job: {{character.job_preference_3}}</li>
	<li>Interesse: {{character.luxury_preference}}</li>
</ul>
<div class="max-width-container">
	<a class="button-2" href="/game/menu">← Menu</a>
</div>