{{#block "title"}}Het Systeem - Personage aanpassen{{/block}}

<h1>Personage aanpassen</h1>
<div class="max-width-container">
	<form id="game-customize-character-form" method="POST" action="/game/customize-character">
		<div class="field">
			<label for="first-name" class="form-label">Voornaam:</label>
			<input type="text" class="form-control" id="first-name" name="firstName" value="{{firstName}}" required>
		</div>
		<div class="field">
			<label for="last-name" class="form-label">Achternaam:</label>
			<input type="text" class="form-control" id="last-name" name="lastName" value="{{lastName}}" required>
		</div>
		<div class="field">
			<label for="job-preference-1" class="form-label">Droomjob (+3 geluk):</label>
			<select class="form-select" id="job-preference-1" name="jobPreference1" required>
				{{#each jobs}}
				<option value="{{this.id}}">{{this.name}}</option>
				{{/each}}
			</select>
		</div>
		<div class="field">
			<label for="job-preference-2" class="form-label">Geweldige job (+2 geluk):</label>
			<select class="form-select" id="job-preference-2" name="jobPreference2" required>
				{{#each jobs}}
				<option value="{{this.id}}">{{this.name}}</option>
				{{/each}}
			</select>
		</div>
		<div class="field">
			<label for="job-preference-3" class="form-label">Leuke job (+1 geluk):</label>
			<select class="form-select" id="job-preference-3" name="jobPreference3" required>
				{{#each jobs}}
				<option value="{{this.id}}">{{this.name}}</option>
				{{/each}}
			</select>
		</div>
		<p class="error" id="error-job-preference">{{errorJobPreference}}</p>
		<div class="field">
			<label for="luxury-preference" class="form-label">Interesse (+3 geluk):</label>
			<select class="form-select" id="luxury-preference" name="luxuryPreference" required>
				{{#each luxury_preferences}}
				<option value="{{this.id}}">{{this.name}}</option>
				{{/each}}
			</select>
		</div>
		<button type="submit" class="button-1">Volgende</button>
		<a href="/game/choose-world" class="button-2">Terug</a>
	</form>
</div>

<script>
document.getElementById("game-customize-character-form").addEventListener("submit", function (e) {
	const job1 = document.getElementById('job-preference-1').value;
	const job2 = document.getElementById('job-preference-2').value;
	const job3 = document.getElementById('job-preference-3').value;
	if (job1 === job2 || job1 === job3 || job2 === job3) {
		document.getElementById("error-job-preference").textContent = "Kies drie verschillende jobs.";
		e.preventDefault();
	} else {
		document.getElementById("error-job-preference").textContent = "";
	}
});
</script>