{{#block "title"}}Personage aanpassen{{/block}}

<div class="container-compact">
	<h1>Personage aanpassen</h1>
	
	<form id="customize-character-form" method="POST" action="/game/customize-character">
		<div class="field">
			<label for="first-name" class="form-label">Voornaam:</label>
			<input id="first-name" class="form-control" type="text" name="firstName" value="{{first_name}}" required>
		</div>
		
		<div class="field">
			<label for="last-name" class="form-label">Achternaam:</label>
			<input id="last-name" class="form-control" type="text" name="lastName" value="{{last_name}}" required>
		</div>
		
		<div class="field">
			<label for="job-preference-1" class="form-label">Jobvoorkeur (★★★):</label>
			<select id="job-preference-1" class="form-select" name="jobPreference1" required>
				{{#each jobs}}
				<option value="{{this.id}}">{{this.name}}</option>
				{{/each}}
			</select>
		</div>
		
		<div class="field">
			<label for="job-preference-2" class="form-label">Jobvoorkeur (★★):</label>
			<select id="job-preference-2" class="form-select" name="jobPreference2" required>
				{{#each jobs}}
				<option value="{{this.id}}">{{this.name}}</option>
				{{/each}}
			</select>
		</div>
		
		<div class="field">
			<label for="job-preference-3" class="form-label">Jobvoorkeur (★):</label>
			<select id="job-preference-3" class="form-select" name="jobPreference3" required>
				{{#each jobs}}
				<option value="{{this.id}}">{{this.name}}</option>
				{{/each}}
			</select>
		</div>
		
		<p id="job-preference-error" class="error">{{job_preference_error}}</p>
		
		<div class="field">
			<label for="recreation-preference" class="form-label">Ontspanningsvoorkeur (★★★):</label>
			<select id="recreation-preference" class="form-select" name="recreationPreference" required>
				{{#each recreations}}
				<option value="{{this.id}}">{{this.name}}</option>
				{{/each}}
			</select>
		</div>
		
		<p id="recreation-preference-error" class="error">{{recreation_preference_error}}</p>
		
		<button class="button-1" type="submit">Volgende</button>
	</form>
		
	<a class="button-back" href="/game/choose-world">Terug</a>
</div>

<script>
document.addEventListener("DOMContentLoaded", () => {
	//--- Elements ------------------------------------------------------------------------------//
	const jobPreference1Select = document.getElementById("job-preference-1");
	const jobPreference2Select = document.getElementById("job-preference-2");
	const jobPreference3Select = document.getElementById("job-preference-3");
	const recreationPreferenceSelect = document.getElementById("recreation-preference");
	
	const form = document.getElementById("customize-character-form");
	
	const jobPreferenceError = document.getElementById("job-preference-error");
	const recreationPreferenceError = document.getElementById("recreation-preference-error");
	
	//--- Event listeners -----------------------------------------------------------------------//
	jobPreference1Select.addEventListener("change", handleJobPreferenceChange);
	jobPreference2Select.addEventListener("change", handleJobPreferenceChange);
	jobPreference3Select.addEventListener("change", handleJobPreferenceChange);
	recreationPreferenceSelect.addEventListener("change", handleRecreationPreferenceChange);
	
	form.addEventListener("submit", handleFormSubmit);
	
	//--- Event handlers ------------------------------------------------------------------------//
	function handleJobPreferenceChange() {
		jobPreferenceError.textContent = "";
	}
	
	function handleRecreationPreferenceChange() {
		recreationPreferenceError.textContent = "";
	}
	
	function handleFormSubmit(e) {
		// Check if the job preferences are unique
		const selectedJobPreferences = [jobPreference1Select.value,
										jobPreference2Select.value,
										jobPreference3Select.value];		
		const uniqueJobPreferences = new Set(selectedJobPreferences);
		if (uniqueJobPreferences.size === selectedJobPreferences.length) {
			jobPreferenceError.textContent = "";
		} else {
			jobPreferenceError.textContent = "Kies drie verschillende jobvoorkeuren.";
			e.preventDefault();
		}
	}
});
</script>