{{#block "title"}}Gebruikersnaam wijzigen{{/block}}

<div class="container-compact">
	<h1>Gebruikersnaam wijzigen</h1>
	
	{{#if change_saved}}
		<p id="change-saved" class="success">{{change_message}}</p>
	{{else}}
		<form id="change-username-form" method="POST" action="/account/change-username">
			<div class="field">
				<label for="current-username-input" class="form-label">Huidige gebruikersnaam:</label>
				<input id="current-username-input" class="form-control" type="text" value="{{username}}" readonly>
			</div>
			
			<div class="field">
				<label for="new-username-input" class="form-label">Nieuwe gebruikersnaam:</label>
				<input id="new-username-input" class="form-control" type="text" name="newUsername" value="{{newUsername}}" required>
			</div>
			
			<p id="username-error" class="error">{{usernameError}}</p>
			
			<div class="field">
				<label for="password-input" class="form-label">Wachtwoord:</label>
				<input id="password-input" class="form-control" type="password" name="password" required>
			</div>
			
			<p id="password-error" class="error">{{passwordError}}</p>
			
			<button class="button-1" type="submit">Bewaren</button>
		</form>
	{{/if}}
	
	<a class="button-up" href="/account">↑ Annuleren</a>
</div>

<script>
//--- Event handlers ----------------------------------------------------------------------------//
function clearUsernameError() {
	const usernameError = document.getElementById('username-error');
	usernameError.textContent = '';
}

function clearPasswordError() {
	const passwordError = document.getElementById('password-error');
	passwordError.textContent = '';
}
	
//--- DOM content loaded ------------------------------------------------------------------------//
document.addEventListener('DOMContentLoaded', () => {
	const newUsername = document.getElementById('new-username-input');
	const password = document.getElementById('password-input');
	
	newUsername.addEventListener('input', clearUsernameError);
	password.addEventListener('input', clearPasswordError);
});
</script>