{{#block "title"}}Gebruikersnaam wijzigen{{/block}}

<div class="container-compact">
	<h1>Gebruikersnaam wijzigen</h1>
	
	{{#if change_saved}}
		<p id="change-saved" class="success">{{change_message}}</p>
	{{else}}
		<form id="change-username-form" method="POST" action="/account/change-username">
			<div class="field">
				<label for="current-username" class="form-label">Huidige gebruikersnaam:</label>
				<input id="current-username" class="form-control" type="text" value="{{username}}" readonly>
			</div>
			
			<div class="field">
				<label for="new-username" class="form-label">Nieuwe gebruikersnaam:</label>
				<input id="new-username" class="form-control" type="text" name="newUsername" value="{{new_username}}" required>
			</div>
			
			<p id="username-error" class="error">{{username_error}}</p>
			
			<div class="field">
				<label for="password" class="form-label">Wachtwoord:</label>
				<input id="password" class="form-control" type="password" name="password" required>
			</div>
			
			<p id="password-error" class="error">{{password_error}}</p>
			
			<button class="button-1" type="submit">Bewaren</button>
		</form>
	{{/if}}
	
	<a class="button-back" href="/account">← Mijn account</a>
</div>

<script>
document.addEventListener("DOMContentLoaded", () => {
	//--- Elements ------------------------------------------------------------------------------//
	const newUsernameInput = document.getElementById("new-username");
	const passwordInput = document.getElementById("password");
	
	const usernameError = document.getElementById("username-error");
	const passwordError = document.getElementById("password-error");
	
	//--- Event listeners -----------------------------------------------------------------------//
	newUsernameInput.addEventListener("input", handleNewUsernameInput);
	passwordInput.addEventListener("input", handlePasswordinput);
	
	//--- Event handlers ------------------------------------------------------------------------//
	function handleNewUsernameInput() {
		usernameError.textContent = "";
	}
	
	function handlePasswordinput() {
		passwordError.textContent = "";
	}
});
</script>