{{#block "title"}}Het Systeem - Gebruikersnaam wijzigen{{/block}}

<h1>Gebruikersnaam wijzigen</h1>
<div class="mw-container">
	<form id="account-change-username-form" method="POST" action="/account/changeusername">
		<div class="field">
			<label for="current-username" class="form-label">Huidige gebruikersnaam:</label>
			<input type="text" class="form-control" id="current-username" value="{{username}}" readonly>
		</div>
		<div class="field">
			<label for="new-username" class="form-label">Nieuwe gebruikersnaam:</label>
			<input type="text" class="form-control" id="new-username" name="newUsername" value="{{newUsername}}" required>
		</div>
		<p class="error" id="error-username">{{errorUsername}}</p>
		<div class="field">
			<label for="password" class="form-label">Wachtwoord:</label>
			<input type="password" class="form-control" id="password" name="password" required>
		</div>
		<p class="error" id="error-password">{{errorPassword}}</p>
		<button type="submit" class="button-1">Bewaren</button>
		<p class="success" id="success-change">{{successChange}}</p>
	</form>
	<a class="button-2" href="/account/menu">Mijn account</a>
</div>