{{#block "title"}}Personage aanpassen{{/block}}

<div class="container-compact">
	<h1>Personage aanpassen</h1>
	
	<form id="customize-character-form" method="POST" action="/game/setup/customize-character">
		<div class="field">
			<label for="first-name" class="form-label">Voornaam:</label>
			<input id="first-name" class="form-control" type="text" name="firstName" value="{{first_name}}" required>
		</div>
		
		<div class="field">
			<label for="last-name" class="form-label">Achternaam:</label>
			<input id="last-name" class="form-control" type="text" name="lastName" value="{{last_name}}" required>
		</div>
		
		<p class="error" id="name-error">{{name_error}}</p>
		
		<div class="field">
			<label for="job-preference-1" class="form-label">Jobvoorkeur (★★★):</label>
			<select id="job-preference-1" class="form-select" name="jobPreference1" required>
				{{#each jobs}}
				<option value="{{this.id}}" {{#if (eq @index 0)}}selected{{/if}}>{{this.name}}</option>
				{{/each}}
			</select>
		</div>
		
		<div class="field">
			<label for="job-preference-2" class="form-label">Jobvoorkeur (★★):</label>
			<select id="job-preference-2" class="form-select" name="jobPreference2" required>
				{{#each jobs}}
				<option value="{{this.id}}" {{#if (eq @index 1)}}selected{{/if}}>{{this.name}}</option>
				{{/each}}
			</select>
		</div>
		
		<div class="field">
			<label for="job-preference-3" class="form-label">Jobvoorkeur (★):</label>
			<select id="job-preference-3" class="form-select" name="jobPreference3" required>
				{{#each jobs}}
				<option value="{{this.id}}" {{#if (eq @index 2)}}selected{{/if}}>{{this.name}}</option>
				{{/each}}
			</select>
		</div>
		
		<div class="field">
			<label for="recreation-preference" class="form-label">Ontspanningsvoorkeur (★★★):</label>
			<select id="recreation-preference" class="form-select" name="recreationPreference" required>
				{{#each recreations}}
				<option value="{{this.id}}">{{this.name}}</option>
				{{/each}}
			</select>
		</div>
		
		<button class="button-1" type="submit">Volgende</button>
	</form>
		
	<a class="button-back" href="/game/setup/choose-world">Terug</a>
</div>

<script>
document.addEventListener("DOMContentLoaded", () => {
	//--- Elements ------------------------------------------------------------------------------//
	const firstNameInput = document.getElementById("first-name");
	const lastNameInput = document.getElementById("last-name");
	const jobPreference1Select = document.getElementById("job-preference-1");
	const jobPreference2Select = document.getElementById("job-preference-2");
	const jobPreference3Select = document.getElementById("job-preference-3");
	
	const nameError = document.getElementById("name-error");
	
	//--- Execute on load -----------------------------------------------------------------------//
	handleJobPreferenceChange();
	
	//--- Event listeners -----------------------------------------------------------------------//
	firstNameInput.addEventListener("input", handleFirstNameInput);
	lastNameInput.addEventListener("input", handleLastNameInput);
	jobPreference1Select.addEventListener("change", handleJobPreferenceChange);
	jobPreference2Select.addEventListener("change", handleJobPreferenceChange);
	jobPreference3Select.addEventListener("change", handleJobPreferenceChange);
	
	//--- Event handlers ------------------------------------------------------------------------//
	function handleCurrentPasswordInput() {
		passwordError.textContent = "";
	}
	
	function handleFirstNameInput() {
		nameError.textContent = "";
		validateName(firstNameInput);
	}
	
	function handleLastNameInput() {
		nameError.textContent = "";
		validateName(lastNameInput);
	}
	
	function handleJobPreferenceChange() {
		const selects = [jobPreference1Select, jobPreference2Select, jobPreference3Select];
		const selectedValues = selects.map(select => select.value);
		
		selects.forEach((select, index) => {
			const otherSelectedValues = selectedValues.filter((_, i) => i !== index);
			
			Array.from(select.options).forEach(option => {
				option.disabled = otherSelectedValues.includes(option.value);
			});
		});
	}
	
	//--- Helpers -------------------------------------------------------------------------------//
	function validateName(nameInput) {
		const name = nameInput.value;
		const minLength = 2;
		const maxLength = 32;
		const regex = /^[A-Za-zÀ-ÖØ-öø-ÿĀ-ž]+(?:[ '-][A-Za-zÀ-ÖØ-öø-ÿĀ-ž]+)*$/;
  
		if (name.length < minLength) {
			nameInput.setCustomValidity(`Minimaal ${minLength} tekens vereist.`);
		} else if (name.length > maxLength) {
			nameInput.setCustomValidity(`Maximaal ${maxLength} tekens toegestaan.`);
		} else if (name !== name.trim()) {
			nameInput.setCustomValidity(
				"Spaties aan het begin of het einde zijn niet toegestaan.");
		} else if (!regex.test(name)) {
			nameInput.setCustomValidity(
				"Alleen letters, spatie, apostrof en koppelteken zijn toegestaan.");
		} else {
			nameInput.setCustomValidity("");
		}
		
		nameInput.reportValidity();
	}
});
</script>