{{#block "title"}}Het Systeem - Handel drijven{{/block}}

<h1>Handel drijven</h1>

<div class="container-compact">
	<button id="create-order-button" class="button-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#create-order-window">
		Order maken
	</button>
</div>

<div id="create-order-window" class="offcanvas offcanvas-start" data-bs-backdrop="true" data-bs-scroll="false" tabindex="-1">
	<div class="offcanvas-header">
		<h2>📈 Order maken</h2>
		
		<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Sluiten"></button>
	</div>
	
	<div class="offcanvas-body">
		<ul id="create-order-section" class="list-compact">
			<li id="type-field" class="list-item-justify">
				<label for="type">Type:</label>
				<select id="type" class="list-select">
					<option value="">-- Kies --</option>
					<option value="buy">Kopen</option>
					<!-- option "sell" is added via JS -->
				</select>
			</li>
			
			<li id="category-field" class="list-item-justify d-none">
				<label for="category">Categorie:</label>
				<select id="category" class="list-select">
					<!-- options are added via JS -->
				</select>
			</li>
			
			<li id="item-field" class="list-item-justify d-none">
				<label for="item" id="item-label"><!-- label is added via JS --></label>
				<select id="item" class="list-select">
					<!-- options are added via JS -->
				</select>
			</li>
			
			<li id="quantity-field" class="list-item-justify d-none">
				<label for="quantity">Aantal:</label>
				<input id="quantity" class="list-input-quantity" type="number" min="1" step="1" value="0">
			</li>
			
			<li id="unit-price-field" class="list-item-justify d-none">
				<label for="unit-price" id="unit-price-label"><!-- label is added via JS --></label>
				<input id="unit-price" class="list-input-price" type="number" min="1" step="1" value="0">
			</li>
		</ul>
		
		<div class="container-compact">
			<button id="place-order-button" class="button-2" type="button">Order plaatsen</button>
		</div>
	</div>
</div>

<form id="game-trade-form" method="POST" action="/game/actions/trade">
	<h2>🛒 Kopen</h2>
	
	<h3>Producten</h3>
	<div id="product-buy-orders">
		<!-- list is added via JS -->
	</div>
	
	<h3>Gebouwen</h3>
	<div id="building-buy-orders">
		<!-- list is added via JS -->
	</div>
	
	<h2>💰 Verkopen</h2>
	
	<h3>Producten</h3>
	<div id="product-sell-orders">
		<!-- list is added via JS -->
	</div>
	
	<h3>Gebouwen</h3>
	<div id="building-sell-orders">
		<!-- list is added via JS -->
	</div>
	
	<div class="container-compact">
		<button type="submit" class="button-1">Bevestigen</button>
	</div>
</form>

<div class="container-compact">
	<a class="button-back" href="/game/actions">← Acties</a>
</div>

<script src="/js/shared-ui.js"></script>

<script>
document.addEventListener("DOMContentLoaded", () => {
	const createOrderButton = document.getElementById("create-order-button");
	const createOrderWindow = document.getElementById("create-order-window");
	const createOrderSection = document.getElementById("create-order-section");
	const typeSelect = document.getElementById("type");
	const categoryField = document.getElementById("category-field");
	const categorySelect = document.getElementById("category");
	const itemField = document.getElementById("item-field");
	const itemLabel = document.getElementById("item-label");
	const itemSelect = document.getElementById("item");
	const quantityField = document.getElementById("quantity-field");
	const quantityInput = document.getElementById("quantity");
	const unitPriceField = document.getElementById("unit-price-field");
	const unitPriceLabel = document.getElementById("unit-price-label");
	const unitPriceInput = document.getElementById("unit-price");
	const placeOrderButton = document.getElementById("place-order-button");
	
	createOrderButton.addEventListener("click", createOrder);
	typeSelect.addEventListener("change", changeType);
	categorySelect.addEventListener("change", changeCategory);
	itemSelect.addEventListener("change", changeItem);
	quantityInput.addEventListener("input", validateInputs);
	unitPriceInput.addEventListener("input", validateInputs);
	placeOrderButton.addEventListener("click", placeOrder);
	
	let bsOffcanvas = bootstrap.Offcanvas.getInstance(createOrderWindow);
	if (!bsOffcanvas) {
		bsOffcanvas = new bootstrap.Offcanvas(createOrderWindow);
	}
	
	const productBuyOrders = {{{json product_buy_orders}}};
	const productSellOrders = {{{json product_sell_orders}}};
	const buildingBuyOrders = {{{json building_buy_orders}}};
	const buildingSellOrders = {{{json building_sell_orders}}};
	
	const orderMap = {
		"buy-products": {	list: productBuyOrders,
							id: "product-buy-orders",
							type: "koop",
							category: "producten",
							limit: "hoogstens" },
		"sell-products": { 	list: productSellOrders,
							id: "product-sell-orders",
							type: "verkoop",
							category: "producten",
							limit: "minstens" },
		"buy-buildings": { 	list: buildingBuyOrders,
							id: "building-buy-orders",
							type: "koop",
							category: "gebouwen",
							limit: "hoogstens" },
		"sell-buildings": {	list: buildingSellOrders,
							id: "building-sell-orders",
							type: "verkoop",
							category: "gebouwen",
							limit: "minstens" },
	};
	
	const buyableProducts = {{{json buyable_products}}};
	const sellableProducts = {{{json sellable_products}}};
	const buyableBuildings = {{{json buyable_buildings}}};
	const sellableBuildings = {{{json sellable_buildings}}};

	// Add sell option only if the player owns something
	if (sellableProducts.length > 0 || sellableBuildings.length > 0) {
		const sellOption = document.createElement("option");
		sellOption.value = "sell";
		sellOption.textContent = "Verkopen";
		typeSelect.appendChild(sellOption);
	}
	
	// Handle create order
	function createOrder() {
		//createOrderButton.classList.add("d-none");
		//createOrderSection.classList.remove("d-none");
		//placeOrderButton.classList.remove("d-none");
		//placeOrderButton.disabled = true;
		validateInputs();
	};
	
	// Handle type change
	function changeType() {
		const selectedType = typeSelect.value;

		// Reset category
		categoryField.classList.add("d-none");
		categorySelect.innerHTML = "";
		categorySelect.dispatchEvent(new Event("change"));
		
		// Hide category when no type is selected
		if (selectedType === "") return;

		// Create category options
		categorySelect.innerHTML = `<option value="">-- Kies --</option>`;
		if (selectedType === "buy" || sellableProducts.length > 0) {
			categorySelect.innerHTML += `<option value="products">Producten</option>`;
		}
		if (selectedType === "buy" || sellableBuildings.length > 0) {
			categorySelect.innerHTML += `<option value="buildings">Gebouwen</option>`;
		}

		// Make category visible
		categoryField.classList.remove("d-none");
		categorySelect.value = "";
		categorySelect.dispatchEvent(new Event("change"));
	};

	// Handle category change
	function changeCategory() {
		const selectedType = typeSelect.value;
		const selectedCategory = categorySelect.value;
		
		// Reset item
		itemField.classList.add("d-none");
		itemSelect.innerHTML = "";
		itemSelect.dispatchEvent(new Event("change"));
		
		// Hide item when no category is selected
		if (selectedCategory  === "") return;

		// Create item label and options
		let labelText = "";
		let options = [];
		if (selectedCategory === "products") {
			labelText = "Product";
			options = selectedType === "buy" ? buyableProducts : sellableProducts;
		} else if (selectedCategory === "buildings") {
			labelText = "Gebouw";
			options = selectedType === "buy" ? buyableBuildings : sellableBuildings;
		}
		itemLabel.textContent = labelText + ":";
		itemSelect.innerHTML = `<option value="">-- Kies --</option>`;
		options.forEach(item => {
			const option = document.createElement("option");
			option.value = item.id;
			option.textContent = item.name;
			itemSelect.appendChild(option);
		});

		// Make item visible
		itemField.classList.remove("d-none");
	};
	
	// Handle item change
	function changeItem() {
		const selectedType = typeSelect.value;
		const selectedCategory = categorySelect.value;
		const selectedItem = itemSelect.value;
		
		// Reset quantity and unit price
		quantityField.classList.add("d-none");
		quantityInput.value = 0;
		unitPriceField.classList.add("d-none");
		unitPriceInput.value = 0;
		placeOrderButton.disabled = true;
		
		// Hide quantity and unit price when no item is selected
		if (selectedItem  === "") return;

		// Create unit price label
		if (selectedType === "buy") {
			unitPriceLabel.textContent = "Maximale eenheidsprijs:";
		} else if (selectedType === "sell") {
			unitPriceLabel.textContent = "Minimale eenheidsprijs:";
		}

		// Make quantity and unit price visible
		quantityField.classList.remove("d-none");
		unitPriceField.classList.remove("d-none");
		validateInputs();
	};
	
	// Handle quantity and unit price change
	function validateInputs() {
		const quantityValue = quantityInput.value.trim();
		const unitPriceValue = unitPriceInput.value.trim();

		const isQuantityValid = /^[1-9]\d*$/.test(quantityValue);
		const isUnitPriceValid = /^[1-9]\d*$/.test(unitPriceValue);

		placeOrderButton.disabled = !(isQuantityValid && isUnitPriceValid);
	}
	
	// Handle place order
	function placeOrder() {
		const type = typeSelect.value;
		const category = categorySelect.value;
		/*const itemId = itemSelect.value;
		const quantity = parseInt(quantityInput.value, 10);
		const unitPrice = parseFloat(unitPriceInput.value);

		if (!itemId || quantity < 1 || unitPrice < 0.01) return;

		// Zoek het item op in de juiste bronlijst
		let sourceList;
		if (category === "products") {
			sourceList = (type === "buy") ? buyableProducts : sellableProducts;
		} else {
			sourceList = (type === "buy") ? buyableBuildings : sellableBuildings;
		}
		const item = sourceList.find(i => i.id === itemId);
		if (!item) return;*/

		// Create order object
		const order = {
			id: itemSelect.value,
			name: itemSelect.options[itemSelect.selectedIndex].textContent,
			quantity: quantityInput.valueAsNumber,
			unitPrice: unitPriceInput.valueAsNumber
		};

		const config = orderMap[`${type}-${category}`];
		config.list.push(order);
		
		// Reset type
		typeSelect.value = "";
		typeSelect.dispatchEvent(new Event("change"));
		
		updateOrderDisplay(config);
		
		bsOffcanvas.hide();

		/*// Verwijder item uit bronlijsten
		removeItemFromList(buyableProducts, item.id);
		removeItemFromList(sellableProducts, item.id);
		removeItemFromList(buyableBuildings, item.id);
		removeItemFromList(sellableBuildings, item.id);

		// Reset formulier
		typeSelect.value = "";
		categorySelect.innerHTML = "";
		itemSelect.innerHTML = "";
		categoryField.classList.add("d-none");
		itemField.classList.add("d-none");
		quantityField.classList.add("d-none");
		unitPriceField.classList.add("d-none");
		placeOrderButton.disabled = true;

		updateOrderDisplay();*/
	}

	function updateOrderDisplay(config) {
		const div = document.getElementById(config.id);
		div.innerHTML = "";

		if (config.list.length === 0) {
			const p = document.createElement("p");
			p.textContent = `Je hebt geen ${config.type}orders voor ${config.category} geplaatst.`;
			div.appendChild(p);
			return;
		}
		
		const formatter = new Intl.NumberFormat('nl-NL');
		const ul = document.createElement("ul");
		ul.classList.add("list-compact");
		config.list.forEach(order => {
			const pieces = order.quantity === 1 ? "stuk" : "stuks";
			const formattedUnitPrice = formatter.format(order.unitPrice);
			
			const li = document.createElement("li");
			li.classList.add("list-item-justify");
			
			const text = document.createElement("span");
			text.append(
				`${order.name}:`,
				document.createElement("br"),
				`${order.quantity} ${pieces} aan ${config.limit} ${formattedUnitPrice} `,
				createCurrencySymbol(),
				"/stuk"
			);
			
			const deleteBtn = document.createElement("button");
			deleteBtn.classList.add("btn", "btn-sm", "btn-danger", "ms-2");
			deleteBtn.type = "button";
			deleteBtn.innerHTML = "✖"; // of: "&times;" of een SVG-icon
			deleteBtn.addEventListener("click", () => {
				li.remove(); // verwijder dit order-item uit de lijst
				// eventueel ook verwijderen uit de onderliggende array
			});
			
			li.append(
				text,
				deleteBtn
			);
			ul.appendChild(li);
		});
		div.appendChild(ul);
	}

	updateOrderDisplay(orderMap["buy-products"]);
	updateOrderDisplay(orderMap["sell-products"]);
	updateOrderDisplay(orderMap["buy-buildings"]);
	updateOrderDisplay(orderMap["sell-buildings"]);
});
</script>

<!--
	{{#if buy_orders.length}}
		{{#each buy_orders}}
			<div class="card-border">
				<div class="card-body">
					<p class="card-p">{{this.item_name}}</p>
					<div class="card-field">
						<label for="buy-orders-{{this.id}}" class="card-label">Hoeveelheid:</label>
						<input type="number" class="form-control" id="buy-orders-{{this.id}}-quantity" name="buyOrders[{{this.id}}].quantity"
						min="1" step="1" required pattern="\d+">
					</div>
					<div class="card-field">
						<label for="buy-orders-{{this.id}}" class="card-label">Limietprijs: € </label>
						<input type="number" class="form-control" id="buy-orders-{{this.id}}-limit-price" name="buyOrders[{{this.id}}].limit_price"
						min="1" step="1" required pattern="\d+">
					</div>
				</div>
			</div>
		{{/each}}
	{{else}}
		<p>Je hebt geen kooporders geplaatst.</p>
	{{/if}}
	-->