{{#block "title"}}Groep beheren{{/block}}

{{#block "headScripts"}}
<script src="/js/turn.js"></script>
<script>
	ensureBeginTurn();
	
	window.stepData = {
		steps: JSON.parse(localStorage.getItem('steps')),
		firstStep: parseInt(localStorage.getItem('firstStep'), 10),
		lastStep: parseInt(localStorage.getItem('lastStep'), 10),
		currentStep: parseInt(localStorage.getItem('currentStep'), 10),
		thisStep: 8
	};
	
	ensureValidStep(window.stepData);
</script>
{{/block}}

<div id="container-div" class="container-compact d-none">
	<h1>Groep beheren</h1>
	
	<button id="finish-button" class="button-1">Voltooien</button>
	<button id="next-button" class="button-1">Volgende →</button>
	<button id="back-button" class="button-1">← Vorige</button>
	
	<a class="button-2" href="/game">↑ Spelmenu</a>
	
	<!--form id="manage-group-form">
		<div id="group-info-div" {{#unless group}}class="d-none"{{/unless}}>
			<h2>ℹ️ Groepsinformatie</h2>
			
			<h3>Instellingen</h3>
			
			<ul class="list-compact">
				<li class="list-item-justify">
					<span>Groepsnaam</span>
					<span>{{group.name}}</span>
				</li>
				<li class="list-item-justify">
					<span>Leider</span>
					<span>{{group.leader}}</span>
				</li>
				<li class="list-item-justify">
					<span>Open voor leden</span>
					<span>{{group.is_open}}</span>
				</li>
				<li class="list-item-justify">
					<span>Huidig aantal leden</span>
					<span>{{group.n_members}}</span>
				</li>
				<li class="list-item-justify">
					<span>Maximum aantal leden</span>
					<span>{{group.max_members}}</span>
				</li>
			</ul>
			
			<h3>Leden</h3>
			
			{{#if group.members}}
				<ul>
					{{#each group.members}}
						<li>{{this}}</li>
					{{/each}}
				</ul>
			{{/if}}
		</div>
			
		<div id="leave-group-div" {{#unless (and group (not is_group_leader))}}class="d-none"{{/unless}}>
			<h2>🚪 Groep verlaten</h2>
			
			<button id="leave-button">Verlaten</button>
			<button id="stay-button" class="d-none">Toch blijven</button>
		</div>
		
		<div id="disband-group-div" {{#unless (and group is_group_leader)}}class="d-none"{{/unless}}>
			<h2>✂ Groep ontbinden</h2>
			
			<button id="disband-button">Ontbinden</button>
			<button id="keep-button" class="d-none">Toch behouden</button>
		</div>
		
		<div id="form-group-div" {{#if group}}class="d-none"{{/if}}>
			<h2>👪 Groep oprichten</h2>
			
			<h3>Instellingen</h3>
			
			<div class="field">
				<label for="group-name-input" class="form-label">Groepsnaam:</label>
				<input id="group-name-input" class="form-control" type="text" required>
			</div>
			
			<div class="field">
				<label for="is-group-open-select" class="form-label">Open voor leden:</label>
				<select id="is-group-open-select" class="list-select">
					<option value="yes">Ja</option>
					<option value="no">Nee</option>
				</select>
			</div>
			
			<div class="field">
				<label for="max-group-size-input" class="form-label">Maximum aantal leden:</label>
				<input id="max-group-size-input" class="form-control" type="number" min="{{min_group_size}}" max="max_group_size" step="1" required>
			</div>
			
			<h3>Leden uitnodigen</h3>
			
			
		</div>
		
		<h2>🤗 Aansluiten bij een groep</h2>
		specifieke oprichter opgeven
		groep zoeken
		
		<button type="submit">Volgende →</button>
	</form>
	
	<button id="back-button">Vorige ←</button>

	<a class="button-back" href="/game">↑ Spelmenu</a-->
</div>

<script>
function clickNext() {
	goToNextStep(stepData);
}

function clickBack() {
	goToPreviousStep(stepData);
}

document.addEventListener('DOMContentLoaded', () => {
	const containerDiv = document.getElementById('container-div');
	const finishButton = document.getElementById('finish-button');
	const nextButton = document.getElementById('next-button');
	const backButton = document.getElementById('back-button');
	
	const isFirstStep = (window.stepData.thisStep === window.stepData.firstStep);
	const isLastStep = (window.stepData.thisStep === window.stepData.lastStep);
	
	if (isLastStep) {
		nextButton.classList.add('d-none');
	} else {
		finishButton.classList.add('d-none');
	}
	if (isFirstStep) {
		backButton.classList.add('d-none');
	}
	
	nextButton.addEventListener('click', clickNext);
	backButton.addEventListener('click', clickBack);
	
	containerDiv.classList.remove('d-none');
});
</script>